* {
    box-sizing: border-box;
}

body {
    background: #23272a;
    color: #fff;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.form-title {
    font-size: 32px;
    text-align: center;
    margin: 0 0 16px 0;
    font-weight: 400;
    color: #fff
}

.form-in { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 70px 16px 40px;
    width: 100%;
    height: 100%;
    color: #72767d;
    background: #36393f;
}

.form-in label {
    display: block;
    margin: 0 0 20px 0;
}

.form-in .exp-title {
    color: #8e9297;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 0 8px 0;
    display: block;
} 

.explain {
    margin: 4px 0 0;
    display: block;
    font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;;
    color: #888d9d;
    font-size: 13px;
}

.explain a {
    color: #00b0f4;
    text-decoration: none;
}

.form-in .input {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    outline: none;
    height: 40px;
    border-radius: 3px;
    color: #dcddde;
    background-color: rgb(0 0 0 / 10%);
    border: 1px solid rgb(0 0 0 / 30%);
    -webkit-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}

#inp-dd-syb {
    width: 100%;
    background-color: #7289da;
    color: #fff;
    font-size: 16px;
    margin: 0 0 2px 0;
    height: 44px;
    border: none;
    border-radius: 3px;
    outline: none;
}

.form-in #inp-dd-syb:hover {
    background-color: #637acc;
}

.form-in .input:hover {
    border-color: #000;
}

#loader-site {
    position: fixed;
    left: 0;
    text-align: center;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    background: #36393f;
    z-index: 1000000500;
    color: #1d1f25;
}

.sk-grid {
    width: 5em;
    height: 5em;
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* Cube positions
     * 1 2 3
     * 4 5 6
     * 7 8 9
     */ 
   }
  .sk-grid-cube {
      width: 33.33%;
      height: 33.33%;
      background-color: #7289da;
      float: left;
      animation: sk-grid 1.3s infinite ease-in-out; 
  }
  .sk-grid-cube:nth-child(1) { animation-delay: 0.2s; }
  .sk-grid-cube:nth-child(2) { animation-delay: 0.3s; }
  .sk-grid-cube:nth-child(3) { animation-delay: 0.4s; }
  .sk-grid-cube:nth-child(4) { animation-delay: 0.1s; }
  .sk-grid-cube:nth-child(5) { animation-delay: 0.2s; }
  .sk-grid-cube:nth-child(6) { animation-delay: 0.3s; }
  .sk-grid-cube:nth-child(7) { animation-delay: 0.0s; }
  .sk-grid-cube:nth-child(8) { animation-delay: 0.1s; }
  .sk-grid-cube:nth-child(9) { animation-delay: 0.2s; }
  
  @keyframes sk-grid {
    0%, 70%, 100% {
      transform: scale3D(1, 1, 1); 
    } 35% {
      transform: scale3D(0, 0, 1); 
    } 
  }