{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block body %}

    {% if user %}

        <footer id="footer" class="footer">
            <section class="footer-container">
                <nav class="footer-menu">
                    <ul>
                        <li class="chats"></li>
                        <li class="settings"></li>
                        <li></li>
                        <li class=""></li>
                        <li></li>
                    </ul>
                </nav>
            </section>
        </footer>

    {% endif %}

{% endblock %}